@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100&display=swap');


#display-cart{
    width: 80%;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-left: 20px;
}
#display-cart-1{
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.493);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}
#display-cart-1 span{
    padding-left: 20px;
    font-size: 18px;
}
#cart-products-inner{
    width: 80%;
    float: left;
}
.product-inner{
    width: 100%;
    height: 210px;
}
.cart-products{
    list-style: none;
    box-sizing: border-box;
}
.cart-product{
    padding-bottom: 10px;
}
.img-product{
    width: 35%;
    float: left;
}
.product-content{
    width: 65%;
    float: left;
    height: 210px;
}
.name-product{
    width: 100%;
    color: black;
    font-size: 16px;
}
.click-del{
    padding-top: 60px;
}
.click-del button{
    background-color: rgb(253, 216, 53);
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 14px;
    width: 50px;
}
.click-del button:hover{
    background-color: yellow;
}
.cart-products{
    width: 70%;
    float: left;
}
.order{
    width: 100%;
    float: right;
    height: 50px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(109, 101, 101, 0.2);
    border-radius: 5px;
}
.order span{
    position: relative;
    top: 15px;
    left: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.click-order{
    width: 100%;
    float: right;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    top: 20px ;
    position: relative;
    color: white;
    text-align: center;
    border: none;
}
.click-order span{
    position: relative;
    top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.click-order:hover{
    background-color: #fe3834;
}
#open-form{
	background-color: #fe3734c7;
	border: none;
	border-radius: 5px;
	width: 100%;
	height: 50px;
}

#enter-inf-order{
	z-index: 1;
    height: 400px;
    width: 60%;
    display: none;
    top: 150px;
    left: 300px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
.head-content{
	width: 60%;
	position: relative;
	height: 50px;
	padding-top: 20px;
	padding-left: 20px;
	font-size: 18px;
	float: left;
}
.form-control{
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 20px;
    height: 50px;
}
.label{
    width: 20%;
    float: left;
    padding-top: 10px;
}
.display{
    width: 50%;
    float: left;
}
.display input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border: solid 1px;
}
.display button{
    width: 35%;
    height: 30px;
    border-radius: 3px;
    border: none;
    background-color: rgb(253, 216, 53);
    color: black;
    font-size: 14px;
}
.display button:hover{
    background-color: red;
}
.form-main{
	width: 80%;
	align-items: left;
	z-index: 1;
}
.enter-inf{
	width: 100%;
	float: left;
}
.click-for-buy{
	width: 25%;
	float: right;
	position: relative;
	padding-left: 20px;
	padding-top: 20px;
}
.display button{
	width: 100%;
	height: 40px;
	background-color: #fe3834;
	color: white;
}
.turn-off{
	float: right;
	width: 30px;
}
.turn-off button{
	width: 100%;
	border: none;
}
.turn-off button:hover{
	background-color: red;
}
.order-div{
	width: 30%;
	float: right;
}