<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingAddressServlet</servlet-name>
        <servlet-class>servlet.ShippingAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>servlet.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineOrderServlet</servlet-name>
        <servlet-class>servlet.OnlineOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/img</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingAddressServlet</servlet-name>
        <url-pattern>/addShippingAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineOrderServlet</servlet-name>
        <url-pattern>/OnlineOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>